@{
  ViewData["Title"] = "Proyectos";
}

<div class="text-center">
  <h1 class="display-4">Proyectos</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-success" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalProyecto">
    <i class="fa-solid fa-square-plus"></i> Nuevo
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" id="ProyectoID" value="0"/>
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"  placeholder="Nombre del proyecto">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion"  placeholder="Descripcion del proyecto">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody id="tbody-proyectos">
  </tbody>
</table>

@section Scripts {
  <script src="~/js/proyecto-1.0.0.js"></script>
}
