@{
  ViewData["Title"] = "Proyectos";
}

<div class="text-center">
  <h1 class="display-4">Proyectos</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-success" onclick="NuevoRegistro()" data-bs-toggle="modal"
    data-bs-target="#ModalProyecto">
    <i class="fa-solid fa-square-plus"></i> Nuevo
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" id="ProyectoID" value="0"/>
          </div>
          <div class="mb-3 col-12">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" style="text-transform:uppercase"
              placeholder="Nombre del proyecto">

          </div>

          <div class="mb-3 col-12">
            <label for="Descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="Descripcion" style="text-transform:uppercase"
              placeholder="Descripcion">

          </div>

          <div class="mb-3 col-6">
            <label for="FechaInicio" class="form-label">Inicio</label>
            <input type="datetime-local" id="FechaInicio" class="form-control"
              value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
          </div>

          <div class="mb-3 col-6">
            <label for="FechaFin" class="form-label">Fin</label>
            <input type="datetime-local" id="FechaFin" class="form-control"
              value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
          </div>

          <div class="mb-3 col-12">
            <label for="ImportePresupuesto" class="form-label">Importe del Presupuesto</label>
            <input type="text" class="form-control" id="ImportePresupuesto" style="text-transform:uppercase"
              placeholder="Importe">

          </div>

          <div class="mb-3 col-6">
            <label for="Estado" class="form-label">Estado</label>
            @Html.DropDownList("Estado", null, htmlAttributes: new { @class = "form-control" })
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary"
          data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Importe del Presupuesto</th>
      <th>Estado</th>

      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody id="tbody-proyectos">
  </tbody>
</table>

@section Scripts {
  <script src="~/js/proyecto-1.0.0.js"></script>
}
